/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/*a.navbar-brand {*/
/*  white-space: normal;*/
/*  text-align: center;*/
/*  word-break: break-all;*/
/*}*/

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #a5a5a5;
  background-color: #1b6ec2;
  border-color: #1861ac;
  margin-top: 10px !important;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #a5a5a5;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background: #637d77;
}

.column {
  display: table-cell;
  width: 30px;
  height: 30px;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  cursor: pointer;
}

.field {
  background-color: #0068c1;
}

.collision {
  background-color: #c10005;
}

.miss {
  background-color: #fffcf5;
}

.ship {
  background-color: #2a2524;
}

.column:hover {
  background-color: rgb(255, 252, 109);
}

.line {
  font-size: 19px;
  font-weight: bold;
}

.board {
  border-top: 1px solid black;
  border-left: 1px solid black;
  display: inline-block;
  margin-top: 5rem;
}

.board-top {
  height: 30px;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

table {
  width: 105%!important;
  height: 15rem;
  border-radius: 22px;
  display: -moz-groupbox;
  border: 0 !important;
}

.table {
  color: #2c2c2d;
}

tbody {
  overflow-y: scroll;
  height: 600px;
  width: 1165px;
  position: absolute;
}

p {
  color: #fdf8ff;
}

th {
  width: 565px;
  border-left: 0 !important;
  border-top: 0 !important;
}

.th1 {
  width: 593px;
  border-right: 0 !important;
  border-top: 0 !important;
}

.title {
  color: #ffffff;
}

.btn-menu {
  width: 380px !important;
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
  margin-left: 18px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.btn:hover {
  color: #d6d9d4;
}

.message {
  color: #f7faf5;
}

td {
  width: 580px;
  border: 0 !important;
  vertical-align: inherit !important;
}

.td1 {
  width: 580px;
  display: flex;
}

.save {
  width: 15rem;
}

input[type=radio] {
  height: 1rem;
  width: 1rem;
}

.save-menu {
  width: 50rem;
  margin: 0 auto;
  height: 650px;
}

.main-menu {
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
  padding: 2rem;
  background: white;
  height: 16rem;
  width: 30rem;
  margin: 15rem auto;
  border-radius: 10px;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
  width: 250px !important;
  margin-left: 18px;
}

.nav-pills .nav-link.active, .nav-pills .show > {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-link {
  padding: 0 !important;
}

.btn-block {
  
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.back-menu-btn {
  margin: 2.5rem auto;
}

.start-game {
  background: white;
  padding: 2rem;
  width: 29rem;
  margin: 10rem auto;
}

.start-game form {
  width: 20rem;
}

.start-game form input[type=text] {
  border: 1px solid black!important;
}

.start-game form input[type=submit] {
  width: 50%;
}