@page
@model IndexModel

<main role="main" class="pb-3">
   <body>
       <div class="rounded text-center">
           <div class="main-menu">
               Battleship
               <form method="post">
                   <input type="submit" name="submit" value="Default Game" id="Default" 
                          class="btn btn-block btn-menu" style="margin-top: 1rem"/>
               </form>
               <form method="post">
                   <input type="submit" name="submit" value="User Game" id="User" class="btn btn-block btn-menu" style="margin-top: 1rem"/>
               </form>
               <a asp-page="/Game/LoadGame">
                   <input type="submit" value="Load Game" class="btn btn-block btn-menu"/>
               </a>
           </div>
       </div>
   </body>
</main>