<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Web</title>
    <link rel="stylesheet" href="~/css/main.css"/>
    <script src="js/p5.js"></script>
    <script src="js/constants.js"></script>
    <script src="js/main_drawing.js"></script>
    <script src="js/menu_navigation.js"></script>
    <script src="js/MenuItem.js"></script>
    <script src="js/ships_placement.js"></script>
    <script src="js/ShipInMenu.js"></script>
    <script src="js/ShipOnField.js"></script>
    <script src="js/CellState.js"></script>
</head>
<body>
<header>
</header>

<main>
    @RenderBody()
</main>

<footer>
</footer>
</body>
</html>
