@page
@model WebApp.Pages.Game.LoadGameModel

<main role="main" class="pb-3">
    <table class="table table-bordered table-striped mb-0 mt-5 bg-white save-menu">
        <thead>
        <tr>
            <th>Save name</th>
            <th class="th1">Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Saves)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SaveName)
                </td>
            <td class="td1">
                <form method="post">
                    <input type="submit" asp-route-saveName="@(item.SaveName)" value="Delete" class="btn btn-block btn-primary"/>
                </form>
                <a href="@($"/Game/FastGame?gameId={item.SaveObjectId}")" class="nav-link px-4 rounded-pill">
                    <input type="submit" value="Load" class="btn btn-block btn-primary"/>
                </a>
            </td>
            </tr>
        }
        </tbody>
    </table>
</main>